.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .book-card {
    border: 1px solid #d32f2f; /* Red border */
    border-radius: 8px;
    width: 300px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: inline-block;
  }
  
  .book-card:hover {
    transform: scale(1.05);
  }
  
  .book-header {
    background-color: #d32f2f; /* Red color */
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
  }
  
  .book-header h2 {
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 2em;
  }
  
  .book-header h3 {
    margin: 0;
    font-weight: normal;
    font-size: 2em;
  }
  
  .book-content {
    padding: 10px;
  }
  
  .book-actions {
    text-align: center;
    padding: 10px;
  }
  
  .book-actions button {
    background-color: #d32f2f; /* Red color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .book-actions button:hover {
    background-color: #b71c1c; /* Darker red */
  }
  img{
    width: 100%;
    height: auto;
  }
  .book-category-tag {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #007bff; /* Blue color */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  