<div class="manage-categories-container">
    <h1>Manage Categories</h1>
  
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.name }}</td>
          <td>
            <button (click)="editCategory(category.categoryId)">Edit</button>
            <button (click)="deleteCategory(category.categoryId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <button (click)="addCategory()">Add Category</button>
  </div>
  
   